<form
  class="form-row"
  #f="ngForm"
  (ngSubmit)="f.form.valid && onGuardarPersona()"
>
  <div class="form-group col-md-2">
    <label class="sr-only" for="nombre">Nombre</label>
    <input
      required
      type="text"
      name="nombre"
      id="nombre"
      placeholder="Nombre"
      class="form-control"
      [(ngModel)]="nombreInput"
    />
  </div>
  <div class="form-group col-md-2">
    <label class="sr-only" for="apellido">Apellido</label>
    <input
      required
      type="text"
      name="apellido"
      id="apellido"
      placeholder="apellido"
      class="form-control"
      [(ngModel)]="apellidoInput"
    />
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary" style="cursor: pointer">
      Agregar
    </button>
  </div>
  <div class="col">
    <button *ngIf="index != null" type="submit" class="btn btn-danger" style="cursor: pointer" (click)="eliminarPersona()">
      Eliminar
    </button>
  </div>
</form>
